/************************************************** GLOBAL STYLES **************************************************/

/* MAIN PAGE ELEMENTS */
body, div, html, p, ol, ul, li				{margin:0; padding:0;}
body 										{background:#C3D2CE url('../bg-tile.jpg') repeat top left; font-family:Arial, Verdana, sans-serif; font-size:11px; margin:0 auto;}
p											{float:left; margin-bottom:15px;}
img											{border:none;}
                                    		
/*WRAPPERS */                       		
.wrapper				 					{margin:auto;}
.page-wrapper 			 					{width:980px;}
.left-nav-wrapper		 					{float:left; width:135px; margin:40px 10px 0px 0px;}
.page-content-wrapper	 					{width:480px; margin-top:90px;}
.main-nav-wrapper		 					{float:left; width:36px; margin:20px 0px 0px -5px;}
.right-side-wrapper		 					{float:left; width:215px; margin:10px 0px 0px 35px;}
.footer-wrapper			 					{float:left; width:100%; margin-left:25px;}

/*LISTS*/
ul 											{list-style:none;}
                                    		
/*LINKS*/                           		
a											{text-decoration:none; color:#000000;}
                                    		
/*HEADERS*/                         		
h1, h2, h3, h4, h5, h6						{float:left; margin:0; padding:0;}
                                    		
/*PADDERS*/                         		
.vSpacer, hSpacer 							{float:left; clear:both;}
                                    		
/*TEXT FORMATS*/                    		
.uppercase			 			    		{text-transform:uppercase;}
.capitalize			 			    		{text-transform:capitalize;}
.lowercase			 			    		{text-transform:lowercase;}
                     			    		
.italic				 			    		{font-style:italic;}
.bold				 			    		{font-weight:bold;}
.underline			 			    		{text-decoration:underline;}
                                    		
.serif										{font-family:Times New Roman, Georgia, serif;}
                     			    		
.orange-text 								{color:#BD7213;}
.green-text 								{color:#516C6B;}
.light-green-text	 			    		{color:#90AEA6;}
.brown-text 		 			   			{color:#5A4B3E;}
.gray-text 			 			    		{color:#666666;}
.white-text 			 					{color:#FFFFFF;}
                                    		
/*SYMBOLS*/                         		
.copyright									{}
                                    		
/*DIVIDERS*/                        		
.dotted										{float:left; width:100%; border-top:#516C6B dotted 2px; opacity:.5;}
.dotted-short								{float:left; width:266px; border-top:#516C6B dotted 2px; opacity:.5;}
.dotted-mini								{float:left; width:133px; border-top:#516C6B dotted 2px; opacity:.5;}
                                    		
.dashed										{float:left; width:214px; border-top:#FFFFFF dashed 1px;}
                                    		
/*OTHER*/                           		
.no-display 								{display:none;}

/************************************************** MAIN ELEMENT STYLES **************************************************/

/*LEFT NAV*/
.left-nav									{float:left; width:100%; margin-top:50px;}
.left-nav ul li								{margin:0px 5px 0px 5px; text-transform:uppercase; font-size:12px;}
                                    		
.sub-nav ul li								{margin:5px 0px 5px 15px; text-transform:capitalize; font-size:11px;}
.sub-nav-item								{margin-bottom:5px; padding:5px 0px 0px 5px; border-top:#516C6B dashed 1px;}
                                    		
/*MAIN*/                            		
.main-page									{float:left; width:554px; position:relative; margin-top:10px;}
                                    		
.page-top									{float:left; width:554px; height:143px; background:url('../images/main-elements/page-top.png') no-repeat top left;}
.header										{float:left; width:480px;}
.header-text 		 						{float:left; width:400px; margin:35px 0px 0px 60px; color:#FFFFFF; position:absolute; font-size:16px; z-index:2;}
.header-text-title	 						{font-family:Times New Roman, Georgia, serif;font-size:20px; font-style:italic; font-weight:bold;}
.header-images								{float:left; width:100%; position:relative; z-index:1; margin:35px 0px 0px 35px;}
.header-images .title						{float:left; margin-top:15px;}
.header-images .image						{float:right; width:250px;}
.header-images .link						{float:left; color:#86AEAC; font-size:10px; }
                                    		
.page-background 							{float:left; width:100%; margin-top:0px; background: url('../images/main-elements/page-bg.png') repeat-y top left;}
.page-header								{float:left; width:100%; margin-top:25px;}
.content-top								{float:left; color:#516C6B; font-size:14px; line-height:22px;}

.page-body									{float:left; width:100%; height:450px; margin-top:15px;}
.content-body								{float:left; width:480px;}
.content-body p 							{color:#666666; font-size:10px; line-height:16px;}
                                    		
.content-left								{float:left; width:250px;}
.content-left-body							{width:225px;}
.content-right								{float:left; width:230px;}
                                    		
/*MAIN NAV*/                        		
#main-nav									{float:left; position:relative;}
#main-nav li 								{margin-bottom:-2px;}
#main-nav a:hover							{background-position: -36px 0px;}
#main-nav a.active							{background-position: 0px 0px;}
                                    		
#services a									{width: 36px; height:119px; display:block; background:url('../images/main-elements/nav/services.png') no-repeat -72px 0px;}
#case-studies a								{width: 36px; height:148px; display:block; background:url('../images/main-elements/nav/case-studies.png') no-repeat -72px 0px;}
#process a									{width: 36px; height:117px; display:block; background:url('../images/main-elements/nav/process.png') no-repeat -72px 0px;}
#tools a									{width: 36px; height:101px; display:block; background:url('../images/main-elements/nav/tools.png') no-repeat -72px 0px;}
#about-us a									{width: 36px; height:128px; display:block; background:url('../images/main-elements/nav/about-us.png') no-repeat -72px 0px;}
                                    		
/*RIGHT SIDE*/                      		
#contact-btn								{float:left; margin-bottom:25px;}
#contact-btn a								{width: 139px; height:35px; display:block; background:url('../images/contact.png') no-repeat 0px 0px;}
#contact-btn a:hover						{background-position: 0px -35px;}
                                    		
#contact-info-wrapper						{float:left; width:137px; height:309px; margin-top:34px; position:absolute;}
#contact-info-background 					{float:left; width:137px; height:309px; background:url('../images/contact-bg.png') no-repeat top left;}
#contact-info								{float:left; width:100px; margin:15px 0px 0px 20px; line-height:16px;}
#contact-info p								{margin-bottom:5px;}
#contact-close-btn							{float:right;}
                                    		
/*FOOTER*/                          		
.page-bottom								{float:left; width:554px; height:96px; background:url('../images/main-elements/page-bottom.png') no-repeat bottom left;}
.bottom-nav ul li							{float:left; margin:0px 4px 0px 4px; text-transform:capitalize; font-size:9px;}
.bottom-nav a								{margin-right:4px;}

/************************************************** PAGES **************************************************/

/***** CASE STUDIES *****/

/* right side */
.testimonial								{float:left; width:203px; line-height:22px;}
.results			   						{float:left; width:100%; margin-top:10px;}
.result										{float:left; margin-bottom:15px;}
                                    		
/* main page */                     		
#deliverables		   						{float:left; width:100%; margin:10px 0px 0px 15px;}                     				
#deliverables ul	   						{list-style:disc;}
#deliverables ul li 						{margin-bottom:10px; color:#5A4B3E; font-size:12px;}
#result-text 								{float:left; width:150px; margin:3px 0px 0px 2px;}
#result-arrow								{float:left; width:49px; height:19px; background:url('../images/results-arrow.png') no-repeat bottom left;}
#arrow-text 								{float:left; margin:3px 0px 0px 4px;}
                                    		
/* ibex */                       						
#ibex-content-right-top 	   				{float:left; width:100%; margin-bottom:15px;}
#ibex-content-right-bottom  				{float:left; width:100%;}
#ibex-link									{margin-left:60px;}
                                    		
/* bevy */                          		
#bevy-link									{margin-left:75px;}
                                    		
/* klim */                          		
#klim-page-body								{height:600px;}
#klim-link									{margin-left:85px;}
                                    		
/* zumiez */                        		
#zumiez-page-body							{height:625px;}
#zumiez-link								{margin-left:85px;}
                                    		
/* idahoan */                       		
#idahoan-link								{margin-left:60px;}
                                    		
/* tommy */                         		
#tommy-link									{margin-left:60px;}

/***** ABOUT US *****/

/* about */
#about-page-top								{margin-top:0px;}
#about-page-body							{height:500px;}
#about-page-content-wrapper					{margin-top:-90px;}
#about-content-body p						{color:#5A4B3E;}
#pronunciation-guide						{margin:0px 5px 0px 5px; color:#516C6B; font-size:14px;}
#history 									{float:left; width:100%;}
#philosophy 								{float:left; width:100%;}
#awards 									{float:left; width:100%; color:#5A4B3E;}
#note										{float:left; margin-top:15px;}
                                    		
/* team */                          		
#team-page-body								{height:750px;}
#team-page-background						{margin-top:0px;}
#team-page-content-wrapper					{margin-top:0px;}
#team-content-body							{margin-top:15px;}
#team-content-body p						{margin-left:20px;}
#team-header-images	img						{float:left;}
#team-header-images	p						{float:right; width:274px; margin-top:20px; color:#516C6B; font-size:14px; line-height:22px;}
#matchbook-wrapper							{float:left;}
#matchbook									{float:left; width:136px; margin-left:20px;}
#matchbook span								{float:left; width:100%; text-align:center;}
#matchbook a:hover							{background-position: -140px 0px;}
#keith-matchbook a							{width: 140px; height:162px; display:block; background:url('../images/pages/about-us/matchbooks/keith.jpg') no-repeat 5px 0px;}
#mark-matchbook a							{width: 133px; height:171px; display:block; background:url('../images/pages/about-us/matchbooks/mark.jpg') no-repeat 0px 0px;}
#eric-matchbook a							{width: 137px; height:159px; display:block; background:url('../images/pages/about-us/matchbooks/eric.jpg') no-repeat 2px 0px;}
#tyler-matchbook a							{width: 141px; height:170px; display:block; background:url('../images/pages/about-us/matchbooks/tyler.jpg') no-repeat 5px 0px;}
#scott-matchbook a							{width: 145px; height:163px; display:block; background:url('../images/pages/about-us/matchbooks/scott.jpg') no-repeat 3px 0px;}
#steve-matchbook a							{width: 136px; height:154px; display:block; background:url('../images/pages/about-us/matchbooks/steve.jpg') no-repeat 0px 0px;}
#domino-matchbook a							{width: 136px; height:169px; display:block; background:url('../images/pages/about-us/matchbooks/domino.jpg') no-repeat 0px 0px;}
#braxton-matchbook a						{width: 136px; height:153px; display:block; background:url('../images/pages/about-us/matchbooks/braxton.jpg') no-repeat 4px 0px;}
#chris-matchbook a							{width: 136px; height:164px; display:block; background:url('../images/pages/about-us/matchbooks/chris.jpg') no-repeat 0px 0px;}
#matchbook-info-wrapper 					{float:left; margin-top:10px;}
.matchbook-info								{float:left; width:125px; margin-left:28px; text-align:center;}
.matchbook-info span 						{float:left; width:100%;}
.row										{float:left; margin-bottom:25px;}
.bio										{float:left; margin-top:140px; font-family:Courier}
.bio span									{float:left; text-align:left;}
#rolls										{float:left; margin:25px 0px 25px 15px;}
#rolls ul									{list-style:disc;}
#rolls ul li 								{font-size:12px;}

/***** SERVICES *****/
.services-header-image						{float:left; margin:0px 0px 0px 20px;}
.services-header-image #image				{width:100%;}
.services-page-body							{height:450px;}
.services-content-body p					{color:#5A4B3E;}
.services-content-left			    		{width:320px;}
.services-content-left-body					{width:100%;}
.services-content-left ul					{margin-left:15px; list-style:disc;}
.services-content-right						{width:144px; height:279px; margin-left:15px; background:url('../images/pages/services/service-list-bg.png') no-repeat top left;}
.services-content-right ul					{float:left; margin-left:15px; font-size:10px; list-style:disc;}
.services-list								{float:left; width:125px; margin:15px 0px 0px 7px;}
.services-list h4							{float:left; margin:10px 0px 0px 0px;}
.feature									{float:left; width:300px; margin-bottom:25px; line-height:18px;}

/* sla */
#sla-page-content-wrapper					{margin-top:236px;}
#by-contract								{margin-top:15px;}

/* branding */
#branding-header-image						{margin:5px 0px 0px 20px;}
#branding-page-content-wrapper				{margin-top:230px;}

/* magento e-commerce */
#magento-ecommerce-header-image				{margin:15px 0px 0px 20px;}
#magento-ecommerce-page-content-wrapper		{margin-top:230px;}

/* web programming */
#web-programming-header-image				{margin:15px 0px 0px 20px;}
#web-programming-page-content-wrapper		{margin-top:260px;}

/* flash */
#flash-header-image							{margin:15px 0px 0px 20px;}
#flash-page-content-wrapper					{margin-top:220px;}

/* ui */
#ui-header-image							{margin:15px 0px 0px 20px;}
#ui-page-content-wrapper					{margin-top:215px;}

/* pci */
#pci-header-image							{margin:15px 0px 0px 20px;}
#pci-page-content-wrapper					{margin-top:230px;}

/***** PROCESS *****/
#process-page-content-wrapper				{margin-top:-90px;}

/***** TOOLS ******/

/* right side */
.case-study-image							{float:left; margin:10px 0px 10px 10px;}
.case-study-controls						{float:left; width:110px; margin:0px 0px 10px 60px;}
#case-study-controls a:hover				{background-position: -18px 0px;}
.recent-news								{float:left; margin:15px 0px 0px 0px; font-size:10px; line-height:18px;}
#left-arrow									{float:left;}
#page-num									{float:left; margin:0px 15px 0px 15px; font-size:18px;}
#right-arrow								{float:left;}
#left-arrow a								{width: 18px; height:24px; display:block; background:url('../images/pages/tools/left-arrow.png') no-repeat 0px 0px;}
#right-arrow a								{width: 18px; height:24px; display:block; background:url('../images/pages/tools/right-arrow.png') no-repeat 0px 0px;}
                                    		
/* main page */                     		
#recent-news-title							{float:left; margin-bottom:15px;}
#tools-header-images						{margin:60px 0px 0px 20px;}
#tools-page-background						{margin-top:0px;}
#tools-page-body							{height:550px;}
#tools-page-content-wrapper					{margin-top:-50px;}
#tools-content-body							{margin-top:15px;}
#tools-content-top p						{width:129px; margin-top:15px;}
#tools-content-body-left	   				{float:left; width:161px; margin-left:-10px;}
#tools-content-body-left ol	   				{float:left; font-size:11px; line-height:18px;}
#tools-content-body-right	   				{right:0; top:0; width:374px; margin:15px 15px 0px 0px; position:absolute;}
#tools-list					   				{float:left; margin:15px 0px 0px 20px;}                        		
#contact-us					   				{float:left; width:303px; margin:25px 0px 10px 0px; font-size:12px; line-height:22px;}
#tools-links								{float:right; width:60px; margin:-190px 10px 0px 0px;}
#tools-links p								{float:left; margin-bottom:0px;}